[submodule "gnuradio"]
	path = gnuradio
	url = https://github.com/777arc/gnuradio.git
	branch = main
[submodule "gr-foo"]
	path = gr-foo
	url = https://github.com/bastibl/gr-foo.git
	branch = maint-3.10
[submodule "gr-dvbs2"]
	path = gr-dvbs2
	url = https://github.com/777arc/gr-dvbs2.git
	branch = wasm-support
[submodule "gr-dvbs2rx"]
	path = gr-dvbs2rx
	url = https://github.com/drmpeg/gr-dvbs2rx.git
	branch = master
[submodule "gr-rds"]
	path = gr-rds
	url = https://github.com/bastibl/gr-rds.git
	branch = maint-3.10
[submodule "gr-satellites"]
	path = gr-satellites
	url = https://github.com/daniestevez/gr-satellites.git
	branch = main
[submodule "gr-paint"]
	path = gr-paint
	url = https://github.com/drmpeg/gr-paint.git
	branch = master
[submodule "gr-fosphor"]
	path = gr-fosphor
	url = https://github.com/osmocom/gr-fosphor.git
	branch = master
[submodule "gr-droneid"]
	path = gr-droneid
	url = https://github.com/proto17/dji_droneid
	branch = gr-droneid-update-3.10
[submodule "gr-ham"]
	path = gr-ham
	url = https://github.com/argilo/gr-ham.git
	branch = master
[submodule "gr-ieee802_11"]
	path = gr-ieee802_11
	url = https://github.com/bastibl/gr-ieee802-11.git
	branch = maint-3.10
[submodule "gr-hrpt"]
	path = gr-hrpt
	url = https://github.com/777arc/gr-hrpt.git
	branch = wasm-support
